@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #fffff0;
  --text: #130417;
  --label: rgba(19, 4, 23, .2);
}

body {
  color: var(--text);
  background-color: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
}
